#center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#center div {
    margin: 10px 0;
}

table{
    background-color: white;
    border: black 1px solid;
    border-collapse: separate;
}

td{
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 150%;
    user-select: none;
}

td.selected {
    border: black 1px solid;
    border-radius: 50%;
}

.hidden {
    color: transparent;
}

td.success {
    background: #4ca340;
}

td.fail {
    background: #710000;
}